.root {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 96px 192px 96px 192px;
}

.about {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.spacer {
    min-width: 100px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    max-width: 45%;
}

.subcardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 24px;
}
