.articles {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 6rem 12rem 6rem 12rem;
}

.arrowButton {
    position: relative;
}


.content {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    width: 100%;
    max-width: 45%;
}