.root {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 96px 192px 96px 192px;
}

.works {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    max-width: 45%;
}

.cardAndButton {
    display: flex;
    gap: 24px;
}

.cardRow {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.projectCard {
    width: 100%;
}

