.codeContainer {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: start;
    padding: 32px;
    border-top: 8px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    background-color: var(--code-color-background);
}