/* global font settings */

.p1, .p2, .p3, .p, .li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--font-color);
    line-height: 1.5;
}

/* h1 */
.p1 {
    font-size: 4rem;
}

.p1Bold {
    composes: p1;
    font-weight: 600;
}

.p1Italic {
    composes: p1;
    font-style: italic;
}


/* h2 */
.p2 {
    font-size: 2rem;
    line-height: 2rem;
}

.p2Bold {
    composes: p2;
    font-weight: 600;
}


.p2Light {
    composes: p2;
    font-weight: 300;
}

.p2Italic {
    composes: p2;
    font-style: italic;
}

/* h3 */
.p3 {
    font-size: 1.5rem;
}

.p3Bold {
    composes: p3;
    font-weight: 600;
}

.p3Light {
    composes: p3;
    font-weight: 300;
}

.p3Italic {
    composes: p3;
    font-style: italic;
}

/* h4 */
.p4 {
    font-size: 1.25rem;
}

.p4Bold {
    composes: p4;
    font-weight: 600;
}

.p4Light {
    composes: p4;
    font-weight: 300;
}

.p4Italic {
    composes: p4;
    font-style: italic;
}

/* p */
.p {
    font-size: 1rem;
}

.pBold {
    composes: p;
    font-weight: 600;
}

.pItalic {
    composes: p;
    font-style: italic;
}

/*
 code
 */

.pCode {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;

}
