.sceneToScreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6rem 0;
}

.textCards {
    position: relative;
    width: calc(50% - 3rem);
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

.tellerDebug {
    position: fixed;
    top: 50vh;
    left: 0;
    width: 100vw;
    border: 1px solid red;
}

.title {
    line-height: 4rem;
}

