.card {
    padding: 1rem;
    flex: 1 1 0;
    background-color: var(--paper-color);
    box-shadow: 2px 4px 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}

.card__image {
    max-width: 100%;
    object-fit: contain;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
}

.dark-text {
    color: #191c19;
}


.card__button-container {
    display: flex;
}

.button {
    align-self: end;
}
