.mediaFrame {
    align-self: center;
}

.stretch {
    width: 100%;
}

.videoContainer {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
}

.image {
    max-width: 100%;
    height: auto;
}

.outerFrame {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 6px solid black;
    border-left: 2px solid black;
}

.innerFrame {
    display: flex;
    border-top: 4px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}