.root {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 96px 192px 96px 192px;
}

.home {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.spacer {
    min-width: 100px;
}

