.njin-container {
    padding: 2rem;
    background-color: var(--paper-color);
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--dark-font-color)

}
